<!--
This component is responsible for rendering a pdb card.

Example:

    <bio-pdb-card model="1R1D"></bio-pdb-card>


-->

<dom-module id="bio-pdb-card">
	<template>
		<style>
			:host {
				display: block;
			}
			div{
				color: var(--pdb-card-font-color, black);
				font-size: var(--pdb-card-font-size: 12px);
				font-family: var(--pdb-card-font-family: 'Roboto');
			}
		</style>
		
       
         <div id="[[model]]" on-tap="_cardSelected">{{model}}</div>
       
        
	</template>
	<script>
		Polymer({
			is: 'bio-pdb-card',
			properties:{

				/** A string containing the PDB ID */
				model:{
					type: Object,
					value: null
				}


			},

			/**
			 * This method is fired whenever the card is tapped.
			 * @param e the tap event
			 */
			 _cardSelected: function(e) {
	            this.fire('pdbIdChanged', {pdbId: this.model});
	        },
		});
	</script>
</dom-module>